.adduser {
  width: 25%;
  margin: 50px auto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.375);
  background-color: white;
  padding: 20px 15px;
}

.adduser h3 {
  text-align: center;
  font-weight: bold;
  color: darkcyan;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
}
.addUserForm {
  padding: 10px;
  margin: 5px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.inputGroup label {
  margin: 5px 0;
}

.inputGroup input {
  padding: 5px;
}
.inputGroup button {
  margin: 8px 0;
}

.login {
  text-align: center;
}
.login .btn.btn-success {
  width: 25%;
}
